AirCrafts/VQ-BTQ/AirCraftRegistrationXMLSource_VQ-BTQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AirCraftRegistrationXML" type="AirCraftRegistrationXMLType"/>
  <xs:complexType name="stepType">
    <xs:sequence>
      <xs:element name="BeginDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" 1998-04-08 "/>
            <xs:enumeration value=" 2003-07-08 "/>
            <xs:enumeration value=" 2014-10-20 "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="AirCraftRegistrationFK" use="optional"/>
  </xs:complexType>
  <xs:complexType name="AirCraftRegistrationXMLType">
    <xs:sequence>
      <xs:element type="stepType" name="step" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>